/* global variables */
:root {
  --font-size:14px;
  --margin:4px;
  --padding:8px;
  --border:1px;
  --radius:6px;
  --scrollbar-size:16px;
  --input-range-size:14px;
  --input-range-margin:1px;
  --button-radius:4px;
  --var-radius:4px;
  --header-height:42px;
  --code-width:432px;
}

@font-face {
  font-family:'microgramma';
  src:url('microgramma.woff2') format('woff2');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'input_mono';
  src:url('input_mono.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'hud';
  src:url('hud.woff2') format('woff2');
  font-weight:normal;
  font-style:normal;
}
::-webkit-scrollbar {
  width:var(--scrollbar-size);
  height:var(--scrollbar-size);
}
::-webkit-scrollbar:vertical {
  background-color:#333;
  border-radius:calc(var(--scrollbar-size)/2);
}
::-webkit-scrollbar-thumb:vertical {
  background-color:#777;
  border:var(--margin) solid #333;
  border-radius:calc(var(--scrollbar-size)/2);
}
html {
  height:100%;
  user-select:none;
}
body {
  height:100%;
  overflow:hidden;
  background-color:#222;
  font-family:"microgramma";
  margin:0;
  padding:var(--padding);
}
div {
  margin:0;
  padding:0;
}
form {
  display:inline-block;
  padding:0;
  margin:0;
}
input {
  appearance:none;
  display:inline-block;
  float:left;
  margin:0;
  background-color:#555;
  font:normal 12px/12px;
  outline:none;
}
input[type="range"] {
  height:var(--input-range-size);
  border-radius:calc(var(--input-range-size)/2);
  margin-top:var(--input-range-margin);
  margin-right:var(--margin);
  cursor:pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width:var(--input-range-size);
  height:var(--input-range-size);
  border-radius:calc(var(--input-range-size)/2);
  background-color:#fff;
}
output,label {
  display:inline-block;
  font:normal var(--font-size)/var(--font-size) "input_mono";
  letter-spacing:-1px;
  color:#fff;
  margin-top:var(--input-range-margin);
}
label {
  margin-top:var(--input-range-margin);
  margin-right:0px;
}
a {
  color:#599;
  text-decoration:none;
  cursor:pointer;
}
a:hover {
  color:#9dd;
}
a::before {
  content:'➜ ';
}
#header {
  float:left;
  width:100%;
  height:var(--header-height);
  margin-bottom:var(--padding);
}
#title {
  float:left;
  font-size:32px;
  line-height:32px;
  text-transform:uppercase;
  color:#fff;
}
#subtitle {
  clear:both;
  float:left;
  font-size:16px;
  line-height:8px;
  letter-spacing:-0.5px;
  text-transform:uppercase;
  color:#777;
}
#cute_star {
  width:32px;
  height:32px;
  margin:-4px 0px -4px 2px;
}
#credits {
  float:right;
  font-size:var(--font-size);
  line-height:var(--font-size);
  text-transform:uppercase;
  text-align:right;
  color:#999;
}
#version {
  float:right;
  font:var(--font-size)/var(--font-size) 'hud';
  text-transform:uppercase;
  text-align:right;
  color:#bbb;
}
#content {
  clear:both;
  float:left;
  margin-right:calc(var(--padding) + var(--border)*2);
}
#starfield {
  border:var(--border) solid #777;
  border-radius:var(--radius);
  margin-bottom:var(--margin);
  cursor:crosshair;
}
#steps {
  float:left;
  margin-right:var(--padding);
  margin-top:var(--border);
}
.step {
  margin-bottom:var(--margin);
  padding:5px 6px 4px 6px;
  background-color:#555;
  border-radius:var(--button-radius);
  font-size:var(--font-size);
  line-height:var(--font-size);
  text-transform:uppercase;
  color:#fff;
  cursor:pointer;
}
.step:hover {
  background-color:#777;
}
.step_run {
  background-color:#fff;
  color:#000;
}
.step_run:hover {
  background-color:#fff;
  cursor:default;
}
code {
  float:left;
  display:inline-block;
  width:var(--code-width);
  height:calc(100vh - var(--header-height) - var(--padding)*3 - var(--border)*2);
  border:var(--border) solid #777;
  border-radius:var(--radius);
  font:bold var(--font-size)/var(--font-size) "input_mono";
  letter-spacing:-0.75px;
  white-space:nowrap;
  background-color:#333;
  color:#bbb;
  overflow-x:hidden;
  overflow-y:auto;
}
.code {
  padding:2px 4px 2px 4px;
  overflow:hidden;
}
.line {
  display:inline-block;
  color:#666;
  width:15px;
  text-align:right;
  margin-right:var(--margin);
}
.tab {
  color:#357;
}
.var {
  border-radius:var(--var-radius);
  padding:0px 4px 0px 4px;
  color:#fff;
}
.val {
  border-radius:var(--var-radius);
  padding:2px 3px 1px 3px;
  font-size:var(--font-size);
  letter-spacing:-0.75px;
  color:#fff;
}
.var0 { background-color:hsl(0 70% 55%); }
.var1 { background-color:hsl(24 70% 50%); }
.var2 { background-color:hsl(48 70% 45%); }
.var3 { background-color:hsl(72 70% 40%); }
.var4 { background-color:hsl(96 70% 40%); }
.var5 { background-color:hsl(120 70% 40%); }
.var6 { background-color:hsl(144 70% 40%); }
.var7 { background-color:hsl(168 70% 40%); }
.var8 { background-color:hsl(192 70% 40%); }
.var9 { background-color:hsl(216 70% 50%); }
.var10 { background-color:hsl(240 70% 60%); }
.var11 { background-color:hsl(264 70% 60%); }
.var12 { background-color:hsl(288 70% 55%); }
.var13 { background-color:hsl(312 70% 50%); }
.var14 { background-color:hsl(336 70% 50%); }
.sy1 { color:#79b; }
.sy2 { color:#97b; }
.sy3 { color:#b79; }
.sy4 { color:#d95; }
.sy5 { color:#799; }
.sy6 { color:#9b7; }
.sy7 { color:#59d; }
.op  { color:#b9d; }
.hl1 {
  background-color:#445;
  color:#bbc;
  .line { color:#667; }
}
.hl2 {
  background-color:#534;
  color:#b9a;
  .line { color:#756; }
}
.rem {
  padding:0px 4px 2px 4px;
  background-color:#557;
  color:#aac;
  .line { color:#778; }
}
.code:hover {
  background:linear-gradient(90deg,#e33,#e73,#ee3,#7e3,#3e3,#3e7,#3ee,#37e,#77e,#e3e,#e37,#e33);
  background-size:400% 100%;
  animation:rainbow 20s linear infinite;
  color:#000;
  .line { color:#fff; }
  .tab { color:#fff3; }
}
@keyframes rainbow {
  0%{background-position:0% 0%}
  100%{background-position:400% 0%}
}
