/* global variables */
:root {
  --font-size: 14px;
  --margin: 4px;
  --padding: 8px;
  --border: 2px;
  --border-color: #777;
  --radius: 6px;
  --scrollbar-size: 16px;
  --input-range-size: 14px;
  --input-background: #bbb;
  --button-radius: 4px;
  --checkbox-size: 18px;
  --slider-height: 17px;
  --slider-margin: 1px;
  --slider-label-width: 56px;
  --slider-var-width: 48px;
  --var-radius: 4px;
  --header-height: 42px;
  --code-width: 432px;
  --var-sat: 70%;
}

@font-face {
  font-family: "microgramma";
  src: url("fonts/microgramma.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "input_mono";
  src: url("fonts/input_mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hud";
  src: url("fonts/hud.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar:vertical {
  background-color: #333;
  border-radius: calc(var(--scrollbar-size)/2);
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #777;
  border: var(--margin) solid #333;
  border-radius: calc(var(--scrollbar-size)/2);
}

html {
  height: 100%;
  user-select: none;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: #222;
  margin: 0;
  padding: var(--padding);
  font-family: "input_mono";
}

div {
  margin: 0;
  padding: 0;
}

form {
  display: inline-block;
  padding: 0;
  margin: 0;
}

select {
  appearance: none;
  float: left;
  padding: 4px 6px 3px 6px;
  background-color: var(--input-background);
  outline: none;
  margin-bottom: var(--margin);
  border-width: 0px;
  border-radius: var(--button-radius);
  font-size: var(--font-size);
  line-height: var(--font-size);
  text-transform: uppercase;
  cursor: pointer;
}

input {
  appearance: none;
  display: inline-block;
  margin: 0;
  background-color: #555;
  font: normal 12px/12px;
  outline: none;
}

input[type="range"] {
  float: left;
  height: var(--input-range-size);
  border-radius: calc(var(--input-range-size)/2);
  margin-right: var(--margin);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: var(--input-range-size);
  height: var(--input-range-size);
  border-radius: 50%;
  background-color: #fff;
}

output,
label {
  float: left;
  font: normal var(--font-size)/var(--font-size) "input_mono";
  letter-spacing: -1px;
  color: #fff;
}

a {
  color: #599;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #9dd;
}

a::before {
  content: "➜ ";
}

#header {
  float: left;
  width: 100%;
  height: var(--header-height);
  margin-bottom: var(--padding);
  font-family: "microgramma";
}

#logo {
  float: left;
  width: var(--header-height);
  height: var(--header-height);
  margin-bottom: var(--padding);
  margin-right: var(--padding);
}

#title {
  float: left;
  font-size: 32px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
}

#subtitle {
  clear: both;
  float: left;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color: #777;
}

#cute_star {
  width: 32px;
  height: 32px;
  margin: -4px 0px -4px 2px;
}

#credits {
  float: right;
  font-size: var(--font-size);
  line-height: var(--font-size);
  text-transform: uppercase;
  text-align: right;
  color: #999;
}

#version {
  float: right;
  font: var(--font-size)/var(--font-size) "hud";
  text-transform: uppercase;
  text-align: right;
  color: #bbb;
}

#content {
  clear: both;
  float: left;
  margin-right: var(--padding);
  /*calc(var(--padding) + var(--border)*2);*/
}

#starfield {
  /*border: var(--border) solid var(--border-color);*/
  border-radius: var(--radius);
  margin-bottom: var(--margin);
  cursor: crosshair;
}

#menu {
  float: left;
}

#steps {
  clear: both;
  float: left;
}

#config {
  clear: both;
  float: left;
  border: var(--border) solid var(--border-color);
  border-radius: calc(var(--button-radius) + var(--padding));
  padding: var(--padding);
  margin-top: calc(var(--padding) - var(--margin));
  padding-bottom: calc(var(--padding) - var(--margin));
  width: calc(100% - var(--padding)*2 - var(--border)*2);
}

#config form {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 2px;
}

#config label {
  float: left;
  height: var(--checkbox-size);
  margin-top: 2px;
  margin-right: var(--margin);
  font-size: var(--font-size);
  line-height: var(--font-size);
  font-family: "microgramma";
  text-transform: uppercase;
  color: #bbb;
}

#config input {
  float: right;
}

#code {
  float: right;
  width: var(--code-width);
  height: calc(100vh - var(--header-height) - var(--padding)*3 - var(--border)*2);
  margin-left: var(--padding);
  border: var(--border) solid var(--border-color);
  border-radius: var(--radius);
  font: bold var(--font-size)/var(--font-size) "input_mono";
  letter-spacing: -0.75px;
  white-space: nowrap;
  background-color: #333;
  color: #bbb;
  overflow-x: hidden;
  overflow-y: auto;
}

.slider {
  clear: both;
  float: left;
  width: 100%;
  height: var(--slider-height);
  margin-bottom: var(--slider-margin);
}

.slider label {
  width: var(--slider-label-width);
  margin-top: calc((var(--slider-height) - var(--input-range-size))/2);
}

.slider input {
  width: calc(100% - var(--slider-label-width) - var(--slider-var-width));
  margin-top: calc((var(--slider-height) - var(--input-range-size))/2);
}

input[type="button"] {
  clear: both;
  float: left;
  appearance: none;
  outline: none;
  width: 100%;
  margin-bottom: var(--margin);
  padding: 5px 6px 4px 6px;
  background-color: #555;
  border-width: 0px;
  border-radius: var(--button-radius);
  font-size: var(--font-size);
  line-height: var(--font-size);
  font-family: "microgramma";
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #777;
}

input[type="button"]:active {
  background-color: #d55;
}

input[type="button"]:disabled {
  background-color: #d93;
  color: #000;
  cursor: default;
}

input[type="number"] {
  width: 34px;
  background-color: var(--input-background);
  color: #000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type="checkbox"] {
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border-width: 0px;
  border-radius: var(--button-radius);
  background-color: #777;
  font: normal 26px/10px "hud";
  text-align: center;
  color: #fff;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  background-color: #999;
}

input[type="checkbox"]:active {
  background-color: #555;
}

input[type="checkbox"]:checked {
  background-color: #09b;
}

input[type="checkbox"]:checked:hover {
  background-color: #0bd;
}

input[type="checkbox"]:checked:active {
  background-color: #079;
  color: #bbb;
}

input[type="checkbox"]:checked::before {
  content: "x";
}

.code {
  padding: 2px 4px 2px 4px;
  overflow: hidden;
}

.line {
  display: inline-block;
  color: #666;
  width: 15px;
  text-align: right;
  margin-right: var(--margin);
}

.tab {
  color: #357;
}

.var {
  border-radius: var(--var-radius);
  padding: 0px 4px 0px 4px;
  color: #fff;
}

.val {
  border-radius: var(--var-radius);
  padding: 2px 3px 1px 3px;
  font-size: var(--font-size);
  letter-spacing: -0.75px;
  color: #fff;
}

.var0 {
  background-color: hsl(0 var(--var-sat) 55%);
}

.var1 {
  background-color: hsl(20 var(--var-sat) 55%);
}

.var2 {
  background-color: hsl(40 var(--var-sat) 50%);
}

.var3 {
  background-color: hsl(60 var(--var-sat) 40%);
}

.var4 {
  background-color: hsl(80 var(--var-sat) 40%);
}

.var5 {
  background-color: hsl(100 var(--var-sat) 40%);
}

.var6 {
  background-color: hsl(120 var(--var-sat) 40%);
}

.var7 {
  background-color: hsl(140 var(--var-sat) 40%);
}

.var8 {
  background-color: hsl(160 var(--var-sat) 40%);
}

.var9 {
  background-color: hsl(180 var(--var-sat) 40%);
}

.var10 {
  background-color: hsl(200 var(--var-sat) 50%);
}

.var11 {
  background-color: hsl(220 var(--var-sat) 55%);
}

.var12 {
  background-color: hsl(240 var(--var-sat) 60%);
}

.var13 {
  background-color: hsl(260 var(--var-sat) 60%);
}

.var14 {
  background-color: hsl(280 var(--var-sat) 55%);
}

.var15 {
  background-color: hsl(300 var(--var-sat) 55%);
}

.var16 {
  background-color: hsl(320 var(--var-sat) 55%);
}

.var17 {
  background-color: hsl(340 var(--var-sat) 55%);
}

.sy1 {
  color: #79b;
}

.sy2 {
  color: #97b;
}

.sy3 {
  color: #b79;
}

.sy4 {
  color: #d95;
}

.sy5 {
  color: #799;
}

.sy6 {
  color: #9b7;
}

.sy7 {
  color: #59d;
}

.sy8 {
  color: #d77;
}

.op {
  color: #b9d;
}

.hl1 {
  background-color: #445;
  color: #bbc;

  .line {
    color: #667;
  }
}

.hl2 {
  background-color: #534;
  color: #b9a;

  .line {
    color: #756;
  }
}

.rem {
  padding: 0px 4px 2px 4px;
  background-color: #557;
  color: #aac;

  .line {
    color: #778;
  }
}

.code:hover {
  background: linear-gradient(90deg, #e33, #e73, #ee3, #7e3, #3e3, #3e7, #3ee, #37e, #77e, #e3e, #e37, #e33);
  background-size: 400% 100%;
  animation: rainbow 20s linear infinite;
  color: #000;

  .line {
    color: #fff;
  }

  .tab {
    color: #fff3;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 400% 0%;
  }
}